# Discord webhook configuration
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxxxxxxxxxxReplaceMeWithWebHookStringxxxxxxxxxxxxxxxxxxxx

# Drive Config
DRIVE=/dev/nvme0

# Test parameters
SMART_TIMEOUT=600

# File paths
SMART_RESULTS=/tmp/smart_results.txt